:root {
  --clr-black: #000;
  --clr-white: #FFF;
  --clr-grey: #A6A4A4;
  --background-color: #F4F4F5;
  --dark-background-color: #DCDCDC;
  --primary-color: #0088CC;
  --dark-primary-color: #006699;
  --primary-chat-color: #DCF8C6;
  --secondary-chat-color: #F1F0F0;
  --primary-text-color: var(--clr-black);
  --input-search-background-color: #FFF;
  --input-search-border-color: #DFE1E5;
  --line-height-20: 26px;
  --line-height-18: 24px;
  --line-height-16: 21px;
  --line-height-15: 20px;
  --line-height-14: 18px;
  --line-height-13: 17px;
  --line-height-12: 16px;
  --line-height-11: 15px;
  --line-height: 1.3125;
  --font-weight-bold: 500;
  --font-weight-normal: 400;
  --font-regular: "Roboto", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  color: var(--primary-text-color);
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6,
button, input, optgroup, select, textarea, html {
  font-family: var(--font-regular);
}

h4 {
  font-size: 2rem;
  line-height: 110%;
}

#app {
  width: 100vw;
  height: 100vh;
}

input {
  caret-color: var(--primary-color);
  background-color: transparent;
  color: var(--primary-text-color);
}

ul {
  list-style-type: none;
  padding: 0;
}
