:root {
  --clr-black: #000;
  --clr-white: #FFF;
  --clr-grey: #A6A4A4;
  --primary-color: #3390ec;
  --dark-primary-color: hsl(209.83783783783787, 82.95964125560539%, 52.27450980392157%);
  --primary-chat-color: #DCF8C6;
  --secondary-chat-color: #F1F0F0;
  --background-color: #F4F4F5;
  --line-height-20: 26px;
  --line-height-18: 24px;
  --line-height-16: 21px;
  --line-height-15: 20px;
  --line-height-14: 18px;
  --line-height-13: 17px;
  --line-height-12: 16px;
  --line-height-11: 15px;
  --line-height: 1.3125;

  --light-filled-primary-color: #eef6fd;
  --saved-color: #3390ec;
  --light-filled-saved-color: #7cb7f2;
  --message-out-background-color: #e3fee0;
  --message-out-background-color-rgb: 227, 254, 224;
  --light-message-out-background-color: rgba(227, 254, 224, 0.12);
  --light-filled-message-out-background-color: #fbfefb;
  --dark-message-out-background-color: hsl(114.00000000000001, 93.75000000000003%, 81.72549019607843%);
  --message-out-primary-color: #5ca853;
  --message-out-primary-color-rgb: 92, 168, 83;
  --light-filled-message-out-primary-color: #d8f7d4;
  --light-danger-color: rgba(223, 63, 64, 0.08);
  --dark-danger-color: hsl(359.625, 71.42857142857143%, 48.07843137254902%);
  --primary-text-color: #000000;
  --primary-text-color-rgb: 0, 0, 0;
  --secondary-text-color: #707579;
  --secondary-text-color-rgb: 112, 117, 121;
  --light-secondary-text-color: rgba(112, 117, 121, 0.08);
  --light-filled-secondary-text-color: #f3f3f4;
  --message-background-color: #ffffff;
  --light-message-background-color: rgba(255, 255, 255, 0.08);
  --light-filled-message-background-color: #ffffff;
  --dark-message-background-color: hsl(0, 0%, 92%);
  --green-color: #70b768;
  --message-highlighting-color: hsla(86.4, 43.846153%, 45.117647%, .4);
  --message-highlighting-color-rgb: 121, 165, 65;
  --message-highlighting-alpha: 0.4;
}
:root {
  --body-background-color: #fff;
  --body-background-color-rgb: 255, 255, 255;
  --background-color-true: #f4f4f5;
  --background-color: var(--background-color-true);
  --border-color: #dfe1e5;
  --scrollbar-color: rgba(0, 0, 0, .2);
  --section-box-shadow-color: rgba(0, 0, 0, .06);
  --menu-box-shadow-color: rgba(0, 0, 0, .15);
  --input-search-background-color: #fff;
  --input-search-border-color: #dfe1e5;
  --secondary-color: #c4c9cc;
  --warning-color: #fed85a;
  --green-color: #3ba748;
  --green-color-rgb: 59, 167, 72;
  --avatar-online-color: var(--primary-color);
  --chatlist-status-color: var(--avatar-online-color);
  --chatlist-pinned-color: #a2abb2;
  --badge-text-color: #fff;
  --link-color: #00488f;
  --poll-circle-color: var(--border-color);
  --spoiler-background-color: #e3e5e8;
  --spoiler-draft-background-color: #d9d9d9;
  --rlottie-vector-fill: rgba(0, 0, 0, .08);
  --limit-line-empty-background: #F1F3F5;
  --old-input-background-color: #F1F3F5;
  --premium-color: #9275ff;
  --gc-background-color: #212121;
  --gc-button-leave-color: rgba(255, 89, 90, .3);
  --gc-button-unmuted-color: rgba(1, 200, 80, .2);
  --gc-button-muted-color: rgba(60, 135, 247, .2);
  --gc-button-hand-color: rgba(223, 68, 184, .2);
  --gc-button-unmuted-fill-color: #195530;
  --gc-button-muted-fill-color: #3C87F7;
  --gc-green-color: #195530;
  --gc-blue-color: #3C87F7;
  --gc-red-color: #643333;
  --gc-primary-text-color: #fff;
  --gc-secondary-text-color: #aaaaaa;
  --gc-green-text-color: #5CC85E;
  --gc-blue-text-color: #3390ec;
  --gc-red-text-color: #ff595a;
  --gc-right-column-width: 26.25rem;
}
@media only screen and (min-width: 601px) {
  :root {
    --right-column-width: 420px;
    --chat-input-size: 3.375rem;
    --chat-input-padding: .8125rem;
    --chat-input-inner-padding: .5rem;
  }
}
:root {
  --z-below: -1;
  --hover-alpha: .08;
  --reflect: 1;
  --transition-standard-easing: cubic-bezier(.4, 0, .2, 1);
  --transition-standard-in-time: .3s;
  --transition-standard-out-time: .25s;
  --transition-standard-in: var(--transition-standard-in-time) var(--transition-standard-easing);
  --transition-standard-out: var(--transition-standard-out-time) var(--transition-standard-easing);
  --transform-origin-inline-start: left;
  --transform-origin-inline-end: right;
  --transform-origin-left-center: left center;
  --transform-origin-right-center: right center;
  --pm-transition: .2s ease-in-out;
  --layer-transition: .2s cubic-bezier(.4, 0, .2, 1);
  --slide-header-transition: .4s ease-in-out;
  --tabs-transition: .2s ease-in-out;
  --btn-menu-transition: .2s cubic-bezier(.4, 0, .2, 1);
  --esg-transition: var(--btn-menu-transition);
  --input-transition: .2s ease-out;
  --input-placeholder-transition: .15s ease-out;
  --sticker-viewer-open-transition-in: .2s var(--transition-standard-easing);
  --sticker-viewer-open-transition-out: .2s var(--transition-standard-easing);
  --sticker-viewer-switch-transition: .2s cubic-bezier(.12,1.1,.56,1.2);
  --popup-transition-function: cubic-bezier(.4, 0, .2, 1);
  --popup-transition-time: .15s;
  --popup-transition: var(--popup-transition-time) var(--popup-transition-function);
  --btn-corner-transition: .2s cubic-bezier(.34, 1.56, .64, 1);
  --chatlist-badge-transition-in: .25s cubic-bezier(.35,.35,.47,1.34);
  --chatlist-badge-transition-out: .25s cubic-bezier(.35,.35,.7,1);
  --message-handhelds-margin: 5.5625rem;
  --message-beside-button-size: 2.375rem;
  --message-beside-button-margin: calc((var(--message-beside-button-size) + .5rem)* -1);
  --message-time-background: rgba(0, 0, 0, .35);
  --messages-container-width: 728px;
  --messages-text-size: 16px;
  --messages-line-height: 1.3125;
  --messages-secondary-text-size: calc(var(--messages-text-size) - 2px);
  --messages-secondary-line-height: calc(var(--messages-secondary-text-size) + 4px);
  --messages-time-text-size: calc(var(--messages-text-size) - 4px);
  --messages-service-text-size: calc(var(--messages-text-size) - 1px);
  --messages-custom-emoji-size: calc(var(--messages-text-size) + 4px);
  --bubble-transition-in: transform var(--transition-standard-in), opacity var(--transition-standard-in);
  --bubble-transition-out: transform var(--transition-standard-out), opacity var(--transition-standard-out);
  --esg-sticker-size: 72px;
  --esg-custom-emoji-size: 36px;
  --popup-sticker-size: 80px;
  --disabled-opacity: .3;
  --round-video-size: 280px;
  --menu-box-shadow: 0px 0px 10px var(--menu-box-shadow-color);
  --menu-backdrop-filter: blur(50px);
  --font-regular: "Roboto", -apple-system, apple color emoji, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --font-monospace: "Roboto Mono", monospace;
  --font-weight-bold: 500;
  --font-weight-normal: 400;
  --selection-color: inherit;
  --ripple-duration: .7s;
  --ripple-start-scale: 0;
  --ripple-end-scale: 2;
  --topbar-floating-scaleX: 1;
  --topbar-call-group-call-height: 3rem;
  --topbar-call-call-height: 3rem;
  --topbar-call-rtmp-height: 1.6875rem;
  --topbar-floating-call-height: 0px;
  --call-button-size: 3.375rem;
  --call-button-margin: 2rem;
  --custom-emoji-size: 1.25rem;
  --chat-input-border-radius: 1rem;
  --chat-input-max-width: var(--messages-container-width);
  --chat-input-btn-send-margin: .5rem;
  --peer-avatar-red-top: #FF845E;
  --peer-avatar-red-bottom: #D45246;
  --peer-avatar-orange-top: #FEBB5B;
  --peer-avatar-orange-bottom: #F68136;
  --peer-avatar-violet-top: #B694F9;
  --peer-avatar-violet-bottom: #6C61DF;
  --peer-avatar-green-top: #9AD164;
  --peer-avatar-green-bottom: #46BA43;
  --peer-avatar-cyan-top: #53edd6;
  --peer-avatar-cyan-bottom: #28c9b7;
  --peer-avatar-blue-top: #5CAFFA;
  --peer-avatar-blue-bottom: #408ACF;
  --peer-avatar-pink-top: #FF8AAC;
  --peer-avatar-pink-bottom: #D95574;
  --peer-avatar-archive-top: #B8C2CC;
  --peer-avatar-archive-bottom: #9EAAB5;
  --peer-avatar-saved-top: var(--light-filled-saved-color);
  --peer-avatar-saved-bottom: var(--saved-color);
  --peer-color: var(--primary-color);
  --avatar-color-story-unread-from: #34c76f;
  --avatar-color-story-unread-to: #3da1fd;
  --avatar-color-story-close-from: #88D93A;
  --avatar-color-story-close-to: #30B73B;
  --avatar-color-story-read: var(--secondary-color);
  --avatar-color-top: var(--peer-avatar-saved-top);
  --avatar-color-bottom: var(--peer-avatar-saved-bottom);
  --avatar-border-radius-forum: 37%;
  --premium-gradient: linear-gradient(52.62deg, #6B93FF 12.22%, #976FFF 50.25%, #E46ACE 98.83%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: var(--body-background-color);
  color: var(--primary-text-color);
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  margin: 0;
  padding: 0;
  word-spacing: -5px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: var(--font-weight-bold);
  word-spacing: -15px;
}

h4 {
  font-size: 2rem;
  line-height: 110%;
}

#app {
  width: 100vw;
  height: 100vh;
}

button, input, optgroup, select, textarea, html {
  font-family: var(--font-regular);
}

input {
  caret-color: var(--primary-color);
  color: var(--primary-text-color);
  background-color: transparent;
}

ul {
  list-style-type: none;
  padding: 0;
}
